
 
<h1>!The UI for the second course of the fast.ai course</h1>
<input id="photo" type="file">
<div id="results"></div>
<script>
  import {read} from "./DogUIFromLesson2"
  const photo = document.querySelector("#photo")
  photo.addEventListener('input', () => read(photo.files[0]));
</script>