---
// MatrixRenderer.astro
// Import the JSON data. Alternatively, you can pass this as a prop.
let { matrixData } = Astro.props;
console.log(matrixData)
---

<!-- The component renders a table from the JSON data -->
<table>
    <thead>
        <tr>
            <th>From / To</th>
            {Object.keys(matrixData).map(role => (
                <th>{role}</th>
            ))}
        </tr> 
    </thead>
    <tbody>
        {Object.keys(matrixData).map(fromRole => (
            <tr>
                <td>{fromRole}</td>
                {Object.keys(matrixData).map(toRole => (
                    <td>{matrixData[fromRole][toRole] || '-'}</td>
                ))}
            </tr>
        ))}
    </tbody>
</table>
